* {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: inside;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: none;
  }
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
