.footer {
  color: #444;
  font: bold 14px/24px 'Montserrat';
  letter-spacing: 1px;
  margin: 50px auto;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.footer-link {
  border-bottom: 1px solid #222;
  color: #222;
}
